
@{
    ViewBag.Title = "Password";
    Layout = "~/Views/Templates/LayoutSign.cshtml";
}

<br />
<br />
<br />
<br />
<br />

<div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-2">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <label>Enter your user account's verified email address and we will send you a password reset link.</label>
                <input type="text" id="idlogin" class="form-control" />

                <input type="submit" id="btnSignIn" name="sigin" value="Send" tabindex="3" class="btn btn-md btn-success btn-block" data-disable-with="Sending email…">
            </div>
            <div class="card-footer">
                <a href="/Person/SignUp" class="text-primary" id="create">Create an account.</a>
            </div>
        </div>
    </div>
</div>


