
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WorkingApp</title>
    @* Bootstrap CSS*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body class="container">
    <section>
        <div class="nav navbar-dark">

        </div>
    </section>
    

  
    
    @* Jquery *@
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @* Bootstrap Javascript*@
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>

<foot>

</foot>
</html>
