
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Templates/LayoutAgenda.cshtml";
}

<link href="~/Layout/plugins/fullcalendar-4.2.0/fullcalendar-4.2.0/packages/core/main.min.css" rel="stylesheet" />
<link href="~/Layout/plugins/fullcalendar-4.2.0/fullcalendar-4.2.0/packages/daygrid/main.min.css" rel="stylesheet" />
<link href="~/Layout/plugins/fullcalendar-4.2.0/fullcalendar-4.2.0/packages/timegrid/main.min.css" rel="stylesheet" />
<link href="~/Layout/plugins/projectCalendar/WorkingCalendar.css" rel="stylesheet" />
<!-- Calendário -->
<br />
<br />
<br />
<br />
 <div id='calendar'></div>






<!-- Scripts*-->
<script src="~/Layout/plugins/fullcalendar-4.2.0/fullcalendar-4.2.0/packages/core/main.min.js"></script>
<script src="~/Layout/plugins/fullcalendar-4.2.0/fullcalendar-4.2.0/packages/daygrid/main.min.js"></script>
<script src="~/Layout/plugins/fullcalendar-4.2.0/fullcalendar-4.2.0/packages/timegrid/main.min.js"></script>
<script src="~/Layout/plugins/fullcalendar-4.2.0/fullcalendar-4.2.0/packages/interaction/main.min.js"></script>
<script src="~/Layout/plugins/projectCalendar/WorkingCalendar.js"></script>
